body {
	display: flex;
	justify-content: center;
	align-items: start;
	padding: 30px;
	background-color: var(--color-black);
	font-family: 'Inter', system-ui, sans-serif;
	font-size: small;
	line-height: 1.5;
	color: var(--color-white);
}

input,
select,
button {
	transition-duration: var(--transition-duration);
}